:root {
  --textMain:       #F3F3F3;
  --textDim:        #76808C;

  --bgMain:         #0E141B;
  --bgHighlight:    #1E2329;
  --bgHover:        #313843;
  --bgSecondary:    #14344B;
  --bgTertiary:     #212B45;
  --bgGradientStart:#040011;
  --bgGradientEnd:  #202B3C;

  --colorPrimary:   #66C0F4;
  --colorSecondary: #4B619B;

  --accentGreen:    #A1CD44;
  --accentRed:      #CD5444;
  --accentYellow:   #C1B15F;

  --textHeadingLarge : normal 700 26px/1.4 "Motiva Sans", Arial, Sans-Serif;
  --textHeadingMedium: normal 700 22px/1.4 "Motiva Sans", Arial, Sans-Serif;
  --textHeadingSmall:  normal 700 18px/1.4 "Motiva Sans", Arial, Sans-Serif;
  --textBodyLarge:     normal 400 16px/1.4 "Motiva Sans", Arial, Sans-Serif;
  --textBodyMedium:    normal 400 14px/1.4 "Motiva Sans", Arial, Sans-Serif;
  --textBodySmall:     normal 400 12px/1.4 "Motiva Sans", Arial, Sans-Serif;
}

body {
  color: var(--textMain)!important;
}

#global_header {
  background-color: var(--bgMain)!important;
  height: 60px;
}

a {
  text-decoration: none;
  color:var(--textMain);
}

a:visited {
  color: var(--textMain);
}

.navigation_arrow {
  -webkit-app-region: none;
  display: inline-flex;
  align-items: flex-start;
  gap: 5px;
}

.navigation_arrow svg {
  cursor: pointer;
  fill: var(--textDim);
}

.navigation_arrow svg:hover {
  fill: var(--textMain);
}

.header {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  user-select: none;
  background-color: var(--bgMain);
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 18px;
  padding-bottom: 18px;
  height: 24px;
  display: flex;
}

.header .nav {
  margin-left: 20px;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  gap: 66px;
  font: var(--textHeadingSmall);
  height: 22px;
  width: 100%;
  -webkit-app-region: drag;
}

.header .nav a {
  -webkit-app-region: none;
  text-transform: uppercase;
}

.header .nav a:hover {
  color: var(--textDim)!important;
}

.header .nav img {
  height: 24px;
}

.tab-selected, .tab-selected:visited {
  color: var(--colorPrimary)!important;
}

.action {
  justify-content: flex-end;
  width: 100%;
  display: flex;
  height: 100%;
  gap: 100px;
}

.action .user {
  -webkit-app-region: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.action .user .icon {
  height: 24px;
  cursor: pointer;
  fill: var(--textDim);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: var(--bgHighlight);
  border-radius: 3px;
}

.action .user .icon:hover,  .action .user .account:hover{
  fill: var(--textMain);
  background-color: var(--bgHover);
}

.action .user .account {
  height: 36px;
  cursor: pointer;
  fill: var(--textDim);
  padding: 3px;
  background-color: var(--bgHighlight);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.action .user .account .user-image {
  height: fit-content;
  border-radius: 2px;
}

.action .user .account .user-name {
  font: var(--textBodyMedium);
}

.action .user .account .user-wallet {
  font: var(--textBodyMedium);
  color: var(--textDim);
}

.action .user .account .user-wallet a:visited {
  color: var(--textDim);
}

.action .user .account .options {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--textMain);
}

#global_header > .content, .home_page_gutter, .hide,  #store_header > .content {
  display: none!important;
}

.action .application {
  -webkit-app-region: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  color: var(--textDim);
  font: var(--textBodySmall);
  fill: var(--textDim);
}

.action .application .window {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.action .application div {
  display: flex;
  height: 24px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.action .application div:hover {
  fill: var(--textMain);
  color: var(--textMain);
}

nav {
  background-color: var(--bgTertiary);
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

nav .tabs {
  height: 100%;
  display: flex;
  align-items: flex-start;
  gap: 7px;
}

nav .tab {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 3px;
  font: var(--textBodyLarge);
}

nav .tab:hover {
  background-color: rgba(49, 56, 67, 0.5);
  color: var(--textMain);
}

nav .tab.selected {
  background-color: var(--colorSecondary);
}

nav .reverse {
  justify-content: flex-end;
  flex-grow: 1;
  display: flex;
  height: 100%;
}

nav .reverse .settings {
  margin-left: 7px;
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  align-items: center;
  fill: var(--textDim);
  background-color: rgba(118, 128, 140, 0.2);
  padding-left: 8px;
  padding-right: 8px;
}

nav .reverse .settings:hover {
  background-color: rgba(118, 128, 140, 0.4);
  fill: var(--textMain);
}

nav .reverse .input {
  display: flex;
  background-color: rgba(14, 20, 27, 0.2);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 3px;
  fill: var(--colorSecondary);
  justify-content: center;
  align-items: center;
  margin-right: 80px;
}

nav .reverse .input svg {
  cursor: pointer;
}

nav .reverse .input svg:hover {
  fill: var(--textMain);
}

nav .reverse .input input {
  width: 400px;
  font: var(--textBodyMedium);
  border: none;
  background-color: transparent;
  color: var(--colorSecondary);
  height: 100%;
}

nav .reverse .input input::placeholder {
  color: var(--colorSecondary);
}

nav .reverse .input input:focus {
  color: var(--textMain);
}
